@import "bootstrap";
@import "font-awesome";

blockquote {
  background: #f9f9f9f9; 
  border-left: 10px solid #ccc;
  /* margin: 1.5em 10px; */
  padding: 0.5em 10px; 
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

body{
  background: image_url('dynamic-style.png');
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.booyah-box{
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.center {
 margin-left: auto;
 margin-right: auto;
 }

 .clear {
  clear: both;
  }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  paddig: 0;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
        height: 300px;
      }

.navbar {
  background: image_url('circuit');
  box-shadow: 3px 3px 5px #ccc5b8;
}

.navbar-inverse .navbar-brand {
  color: #615c52;
  font-family: 'rubikblack', sans-serif;
  font-size: 32px;
}

.nomster-nav-link {
  color: #000000;
  
}
